<a href="https://colab.research.google.com/github/ajastha993/Machine-Learning/blob/master/train_test_split.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Train test split by scratch **

Import the library like pandas ,matplotlib,and also importing the dataset(we are using iris dataset)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets #using sklearn for the dataset
import random
iris=datasets.load_iris() # loading the dataset in iris
df=pd.DataFrame(iris.data,columns=iris.feature_names)# creating a dataframe using pandas
df.head()
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

Making the train test split function

In [0]:
def train_test_split(df,test_size):#This is the train test split function
  if isinstance(test_size,float):#if someone is enter the float value then we convert it 
    test_size=round(test_size*len(df))
  indi=df.index.tolist()
  test_indi=random.sample(population=indi,k=test_size)

  test_df = df.loc[test_indi]
  train_df = df.drop(test_indi)
    
  return train_df, test_df

Calling the function and passing the dataframe and test size

In [0]:
random.seed(0)#give the test data 
train_df, test_df = train_test_split(df, test_size=0.40)

In [5]:
test_df.shape

(60, 4)

The train data

In [6]:
train_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
5                  5.4               3.9                1.7               0.4
6                  4.6               3.4                1.4               0.3
..                 ...               ...                ...               ...
144                6.7               3.3                5.7               2.5
145                6.7               3.0                5.2               2.3
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[90 rows x 4 columns]

The test data

In [11]:
test_df.head()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
98                 5.1               2.5                3.0               1.1
107                7.3               2.9                6.3               1.8
10                 5.4               3.7                1.5               0.2
66                 5.6               3.0                4.5               1.5
130                7.4               2.8                6.1               1.9

Making a purity function which check the data is same or not

In [0]:
def purity(data):
  label_column=data[:,-1]
  unique=np.unique(label_column)

  if len(unique)==1:
    return True
  else:
    return False

Calling the function

In [13]:
purity(train_df.values)

False

In [12]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])